.catalogue-title {
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

.post-title {
    line-height: 1.2em;
    font-size: 3em;
}

@media (max-width: 37.5em) {
    .post-title {
        font-size: 2em;
    }
}

.post p, .catalogue-item p {
    line-height: 1.4em;
}